<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Netmanager Web Application</display-name>
	
	
	<servlet>
		<servlet-name>CLSServlet</servlet-name>
		<display-name>CLSServlet</display-name>
		<description>Classes do Caché convertidas (*.cls)</description>
		<servlet-class>com.disclinc.netmanager.servlet.CLSServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WWWServlet</servlet-name>
		<display-name>WWWServlet</display-name>
		<description></description>
		<servlet-class>com.disclinc.netmanager.servlet.WWWServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CLSServlet</servlet-name>
		<url-pattern>*.cls</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WWWServlet</servlet-name>
		<url-pattern>/www.cls</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WWWServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
